mixin engine-table()
  //- -
  //-   const list = ['9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '9,2 кВа', '8,8 кВа', '8,8 кВа']
  -
    const table = [
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:false},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    {image: 'gen-2', name: 'Volvo Penta EPD 500 CXC DP2', maxpower: '9,2 кВа',nompower: '7,4 кВа',stage: 'четыре',volume: '150 л', stock:true},
    {image: 'gen-1', name: 'Еuropower EPS 300 DXE DC', maxpower: '8,8 кВа',nompower: '8 кВа',stage: 'три',volume: '63 л', stock:true},
    ]


  .engine-table
    table
      thead
        tr
          each title in ['','Двигатель', 'Макс. мощность', 'Номин. мощность', 'Кол-во фаз', 'Объем бака', 'Наличие']
            th=title
              +icon('icon-dropdown', 8, 4)

      tbody
        each item in table
          tr
            td
              +img('content/categorie', item.image, 'png', 58, 50)
            td=item.name
            td=item.maxpower
            td=item.nompower
            td=item.stage
            td=item.volume
            td
              if(item.stock)
                span.engine-table__product-badge.badge.badge--green в наличии
                +btn({text: 'Узнать цену'}).btn--bluetext
              else
                span.engine-table__product-badge.badge.badge под заказ
                +btn({text: 'Узнать цену'}).btn--bluetext

  +pagination()
