mixin product-card(data)
  - const {image, name, maxpower, nompower, stage, volume, stock} = data;

  .product-card

    if(stock)
      span.product-card__badge.badge.badge--green в наличии
    else
      span.product-card__badge.badge.badge--grey под заказ

    +img('slides', image, 'png', 210, 185)
    p.product-card__name !{name}
    ul.product-card__features
      li Макс. мощность: !{maxpower}
      li Номин. мощность: !{nompower}
      li Кол-во фаз: !{stage}
      li Объем бака: !{volume}
    .product-card__btn
      +btn({text: 'Узнать цену'}).btn--blue
