mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "catalog.html",
        text: "Каталог продукции",
        subMenu1: [
          {
            href: 'catalog.html',
            text: 'Каталог оборудования',
            subMenu2: [
              {
                href: '',
                text: 'Дизельные генераторы',
                subMenu3: [
                  {
                    href: '',
                    text: 'Блок-контейнер медицинский'
                  },
                  {
                    href: '',
                    text: 'Блок-контейнеры под лаборатории'
                  },
                  {
                    href: '',
                    text: 'Блок-контейнеры средств связи'
                  },
                  {
                    href: '',
                    text: 'Блок-контейнеры технические'
                  },
                  {
                    href: '',
                    text: 'Блок-контейнеры под котельные'
                  },
                  {
                    href: '',
                    text: 'Блок-контейнеры под аппаратные'
                  },
                ]
              },
              {
                href: '',
                text: 'Блок-контейнер под оборудование'
              },
              {
                href: '',
                text: 'Блок-контейнер под металлоконструкции'
              },
              {
                href: '',
                text: 'Дополнительное оборудование'
              },
            ]
          },
          {
            href: 'catalog.html',
            text: 'Каталог запчастей'
          },
          {
            href: 'catalog.html',
            text: 'Аренда оборудования'
          },
        ]
      },
      {
        href: "company.html",
        text: "О компании",
        subMenu1: [
          {
            href: 'catalog.html',
            text: 'Сертификаты'
          },
        ]
      },
      {
        href: "news.html",
        text: "Новости"
      },
      {
        href: "projects.html",
        text: "Реализованные проекты"
      },
      {
        href: "contacts.html",
        text: "Контакты и доставка"
      },
      {
        href: "tender.html",
        text: "У вас тендер?"
      },
    ]

  header.header(class=headerMods)

    nav.main-nav.main-nav--top
      .container
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          span.header__logo
            +img("content", "logo", "png", 183, 55, "Логотип предприятия")
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +img("content", "logo", "png", 183, 55, "Логотип предприятия")
        .search-form
          form(action="#" method="POST").form
            .form__wrapper
              +custom-input({inputPlaceholder: "Поиск по продукции и разделам", inputType: "text"})
              +icon("icon-search", 17, 17)
        .geo-location
          +icon("icon-place", 15, 17)
          p Казань, ул. Мазита Гафури, д. 50
        +btn({text: "Оставить заявку"}).btn--blue.header__btn
    nav.main-nav.main-nav--bottom
      .container
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text

                  if(link.subMenu1)
                    ul.main-nav__sub-menu1
                      each link1 in link.subMenu1
                        li.main-nav__sub-item !{link1.text}

                            if(link1.subMenu2)
                              ul.main-nav__sub-menu2
                                each link2 in link1.subMenu2
                                  li.main-nav__sub-item !{link2.text}

                                      if(link2.subMenu3)
                                        ul.main-nav__sub-menu3
                                          each link3 in link2.subMenu3
                                            li.main-nav__sub-item !{link3.text}

        .main-nav__contacts
          .main-nav__social.social
            a(href="#")
              +icon("icon-watsapp", 25, 25)
            a(href="#")
              +icon("icon-telegram", 25, 25)
          a(href="tel:+88007004267").main-nav__tel 8(800)700 - 42 - 67
